@font-face {font-family:'ek_muktabold';
	src: url('../font/ekmukta-bold-webfont.eot');
	src: url('../font/ekmukta-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
		 url('../font/ekmukta-bold-webfont.woff2') format('woff2'),
		 url('../font/ekmukta-bold-webfont.woff') format('woff'),
		 url('../font/ekmukta-bold-webfont.ttf') format('truetype'),
		 url('../font/ekmukta-bold-webfont.svg#ek_muktabold') format('svg');
	font-weight:normal;font-style:normal;}
@font-face {font-family:'ek_muktaextrabold';
    src: url('../font/ekmukta-extrabold-webfont.eot');
    src: url('../font/ekmukta-extrabold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/ekmukta-extrabold-webfont.woff2') format('woff2'),
         url('../font/ekmukta-extrabold-webfont.woff') format('woff'),
         url('../font/ekmukta-extrabold-webfont.ttf') format('truetype'),
         url('../font/ekmukta-extrabold-webfont.svg#ek_muktaextrabold') format('svg');
    font-weight:normal;font-style:normal;}
@font-face {font-family:'ek_muktaextralight';
    src: url('../font/ekmukta-extralight-webfont.eot');
    src: url('../font/ekmukta-extralight-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/ekmukta-extralight-webfont.woff2') format('woff2'),
         url('../font/ekmukta-extralight-webfont.woff') format('woff'),
         url('../font/ekmukta-extralight-webfont.ttf') format('truetype'),
         url('../font/ekmukta-extralight-webfont.svg#ek_muktaextralight') format('svg');
    font-weight:normal;font-style:normal;}
@font-face {font-family:'ek_muktalight';
    src: url('../font/ekmukta-light-webfont.eot');
    src: url('../font/ekmukta-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/ekmukta-light-webfont.woff2') format('woff2'),
         url('../font/ekmukta-light-webfont.woff') format('woff'),
         url('../font/ekmukta-light-webfont.ttf') format('truetype'),
         url('../font/ekmukta-light-webfont.svg#ek_muktalight') format('svg');
    font-weight:normal;font-style:normal;}
@font-face {font-family:'ek_muktaregular';
    src: url('../font/ekmukta-regular-webfont.eot');
    src: url('../font/ekmukta-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/ekmukta-regular-webfont.woff2') format('woff2'),
         url('../font/ekmukta-regular-webfont.woff') format('woff'),
         url('../font/ekmukta-regular-webfont.ttf') format('truetype'),
         url('../font/ekmukta-regular-webfont.svg#ek_muktaregular') format('svg');
    font-weight:normal;font-style:normal;}
@font-face {font-family:'ek_muktasemibold';
    src: url('../font/ekmukta-semibold-webfont.eot');
    src: url('../font/ekmukta-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/ekmukta-semibold-webfont.woff2') format('woff2'),
         url('../font/ekmukta-semibold-webfont.woff') format('woff'),
         url('../font/ekmukta-semibold-webfont.ttf') format('truetype'),
         url('../font/ekmukta-semibold-webfont.svg#ek_muktasemibold') format('svg');
    font-weight:normal;font-style:normal;}
@font-face {font-family:'ek_muktamedium';
    src: url('../font/ekmukta-medium-webfont.eot');
    src: url('../font/ekmukta-medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/ekmukta-medium-webfont.woff2') format('woff2'),
         url('../font/ekmukta-medium-webfont.woff') format('woff'),
         url('../font/ekmukta-medium-webfont.ttf') format('truetype'),
         url('../font/ekmukta-medium-webfont.svg#ek_muktamedium') format('svg');
    font-weight:normal;font-style:normal;}